@charset "utf-8";
/* CSS Document */

.messageBox{
	margin: auto;
	background-color: rgba(236,236,236,1.00);
	padding: 10px 20px 20px;
	border-radius: 5px;
	text-align: center;
}

p{
	text-align: center;
}

.button{
	width: auto;
}