﻿body, html {
	min-height: 520px;
	height: auto;
}

body {
	
    vertical-align: middle;
    text-align: center;
}

header{
	position: relative;
	height: auto;
	width: 720px;
	margin: 0px auto;
	padding: 20px 0px 20px;
}

h1{
	width: auto;	
}

h2{
	width: auto;
}

span {
    font-style: italic;
}

footer{
	margin: 20px 0px 0px;
	z-index: 1000;
	background-color: white;
}

#content {
	width: 100%;
	height: 100%;
	display: flex;
    margin: auto;
}

#game-area {
	margin: 0px auto;
    width: 720px;
    height: 480px;
    border: 2px solid black;
}

.hidden{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.active{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 141px;
	height: 37px;
}