form{
	margin: 0px auto;
}

.standardImage{
	margin: auto 0px;
	min-width: 70px;
	min-height: 70px;
	height: 70px;
	width: 70px;
}

.explanationElement{
	display: flex;
	flex-direction: row;
}

.explanationElement p{
	margin: 0px 0px 0px 20px;
}

.waveImage{
	margin: auto 0px;
	min-width: 180px;
	min-height: 60px;
	height: 60px;
	width: 180px;
}

.linesImage{
	margin: auto 0px;
	min-width: 30px;
	min-height: 60px;
	height: 60px;
	width: 30px;
}

.barrierImage{
	margin: auto 0px;
	min-width: 70px;
	min-height: 105px;
	height: 105px;
	width: 70px;
}

.bitImage{
	margin: auto 0px;
	min-width: 30px;
	min-height: 60px;
	height: 60px;
	width: 30px;
}

.playPauseImage{
	margin: auto 0px;
	min-width: 60px;
	min-height: 30px;
	height: 30px;
	width: 60px;
}

@media(max-width: 600px){
	.explanationElementFlow{
		flex-flow: wrap;
		padding: 5px 0px 0px;
	}
	
	.explanationElementFlow p{
		margin: 10px 0px 0px;
	}
}