@charset "utf-8";
/* CSS Document */

@font-face { 
	font-family: 'Titillium Web';
	src: url('font/TitilliumWeb-Regular.ttf') format('truetype'); 
}
@font-face { 
	font-family: 'Titillium Web';
	font-weight: bold;
	src: url('font/TitilliumWeb-Bold.ttf') format('truetype'); 
}

body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
	display: flex;
	flex-direction: column;
	background-color: white;
}

header{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 170px;
	position: fixed;
	background-color: white;
	top: 0;
	padding: 20px 0px 0px;
}

h1{
	width: 100%;
	text-align: center;
	font-size: 50px;
	padding: 0;
	margin: 0px 0px 20px;
}

h2{
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

h3{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

h4{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	margin: 25px 0px 10px;
}

h5{
	font-weight: normal;
	text-align: left;
	font-size: 18px;
	margin: 25px 0px 10px;
}

p{
	text-align: justify;
}

hr{
	margin: 15px 0px 10px;
}

.button{
	margin: 0px auto;
	width: 180px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
}

footer{
	width: 100%;
	min-height: 40px;
	display: flex;
}

footer a{
	margin: 0px auto auto;
	text-decoration: none;
	color: #2C2C2C;
	font-size: 15px;
}

.explanation{
	background-color: rgba(53,53,53,0.80);
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.explanation:hover{
	border: 2px solid rgba(53,53,53,0.80);
	color: rgba(53,53,53,0.80);
	background-color: white;
}

.content{
	margin: 20px auto 0px;
	width: 90%;
	max-width: 900px;
	padding: 170px 0px 30px;
}